[user]
  name = jcleal
  email = mr.jordan.cleal+github@gmail.com

[init]
  defaultBranch = main

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto

# force https, instead of ssh, for things like 'go get'.
[url "https://github.com/"]
    insteadOf = "git@github.com:"

# use gh as a cred helper.
[credential "https://github.com/"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential

[alias]
  # makes it easier to determine if the branch is main or master.
  # taken from: https://stackoverflow.com/questions/66232497/git-alias-which-works-for-main-or-master-or-other/67672350#67672350
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4

[diff]
  colormoved = "default"
  colormovedws = "allow-indentation-change"
