strict-ssl=false
prefix=${HOME}/.npm-packages
@cba-iat:registry=https://artifactory.internal.cba/artifactory/api/npm/npm-local/
//artifactory.internal.cba/artifactory/api/npm/npm-local/:_authToken=${NPM_TOKEN}
registry=https://artifactory.internal.cba/artifactory/api/npm/org.npmjs.registry.new/
